@media (max-width: 1440px) {
  #linux-command {
		width: 80%;
		font-size: 80%;
	}

	#osx-command {
		width: 50%;
	}

	#launch-linux {
		width: 80%;
		font-size: 80%;
	}
}

@media (min-width: 1440px) {
	#linux-command {
		width: 60%;
	}

	#osx-command {
		width: 27%;
	}

	#launch-linux {
		width: 50%;
	}
}

code > button {
	height: 25px;
}

code {
	background-color: black;
	color: white;
	border-radius: 5px;
	padding: 5px 10px;
	text-align: center;
	vertical-align: center;

	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 100px;
}

.content > p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 2.5;

	margin-left: 100px;
}

.content {
	padding-top: 68px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.container {
	height: inherit;
	width: inherit;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr;
}