{{ partial "head" . }}
	<body id="top">
		{{ if (and (ne .Kind "home") (ne .Kind "404")) }}
			<header>
				{{ partial "header" . }}
			</header>
		{{ end }}

		{{ "<!-- Main -->" | safeHTML }}
		<div id="main">
			{{ block "main" . }}{{ end }}
		</div>

		{{ $script := resources.Get "js/copyCode.js" }}
		<script defer language="javascript" type="text/javascript"  src="{{ $script.RelPermalink }}"></script>

		{{ $script := resources.Get "js/toggleContent.js" }}
		<script defer language="javascript" type="text/javascript"  src="{{ $script.RelPermalink }}"></script>
	</body>
</html>