<div class="top-block">
	{{ $image := resources.Get "images/ashirt.svg" }}
	<a href="/">
		<div class="logo">
			<img class="logo-svg" src="{{ $image.RelPermalink }}" alt="ASHIRT Logo" />
		</div>
	</a>
	<div class="menu-items">
		<div class="item">
			<a href="/">ASHIRT</a>
		</div>
		<div class="item">
			<a target="_blank" href="https://github.com/ashirt-ops/ashirt-server/wiki/quickstart">Server Docs</a>
		</div>
		<div class="item">
			<a target="_blank" href="https://github.com/ashirt-ops/ashirt/wiki/quickstart">Client Docs</a>
		</div>
		<div class="item">
			<a target="_blank" href="https://github.com/ashirt-ops/ashirt/releases/latest">Downloads</a>
		</div>
		<div class="item">
			<a href="/support">Support</a>
		</div>
		<div class="item">
			<a href="/faq">FAQs</a>
		</div>
	</div>
</div>
<div class="bottom-block">
	<p class="header-title">{{ .Title }}</p>
	<p class="header-subtitle">{{ .Description }}</p>
</div>
